body {
    margin: 0;
    padding: 0;
    background-color: #000000;
}

#overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: black;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    cursor: pointer;
    z-index: 9999;
    transition: opacity 0.5s ease;
}

#overlay span {
    transition: color 0.3s ease, font-style 0.3s ease, letter-spacing 0.5s ease, font-size 0.5s ease;
    letter-spacing: 0.5em;
    font-size: 5rem;
}

#overlay span:hover {
    color: #FFD700;
    cursor: pointer;
    font-style: italic;
    letter-spacing: 0em;
    font-size: 2rem;
}

#familia {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -45%);
    width: 100vw;
    height: auto;
    display: block;
    z-index: 10;
    /* block-size: fit-content; */
    pointer-events: none;

}



#anue {
    position: fixed;
    top: 0vh;
    left: 50%;
    transform: translateX(-50%);
    width: 100vw;
    height: 56vh;
    display: block;
    z-index: 1;
    opacity: 0.6;
    transition: opacity 0.5s ease-in-out;
}



#boda {
    position: fixed;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 100vw;
    height: 50vh;
    display: block;
    z-index: -1;
    opacity: 0.6;
    transition: opacity 0.5s ease-in-out;
}

#anue:hover,
#boda:hover {
    opacity: 1;
}

#pan {
    position: fixed;
    bottom: 2vh;
    left: 40vw;
    width: 14vw;
    height: auto;
    z-index: 12;
    transition: transform 0.3s ease-in-out;
}

#pan:hover,
#tea:hover {
    transform: scale(1.05);
    cursor: pointer;
}


#tea {
    position: fixed;
    bottom: 20vh;
    left: 55vw;
    width: 8vw;
    height: auto;
    z-index: 12;
    transition: transform 0.3s ease-in-out;
}